<?php
return [
    'site_name' => '(dev) Блог',
    'friendly_url_suffix' => '',
    'friendly_url_prefix' => '',
    'ControllerNamespace' => 'EvolutionCMS\\Main\\Controllers\\',
    'filemanager_path' => env('MODX_BASE_PATH'), 
    'rb_base_dir' => env('MODX_BASE_PATH') . 'assets/',
];