<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/main.min.css" />
    <title>single post</title>
</head>

<body class="single is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <header id="header">
            <div class="site-name"><a href="/">Блог о всяком</a></div>
            <nav class="links">
                <ul>
                    <li><a href="#">Lorem</a></li>
                    <li><a href="#">Ipsum</a></li>
                    <li><a href="#">Feugiat</a></li>
                    <li><a href="#">Tempus</a></li>
                    <li><a href="#">Adipiscing</a></li>
                </ul>
            </nav>
            <nav class="main">
                <ul>
                    <li class="search">
                        <a class="fa-search" href="#search">Поиск</a>
                        <form id="search" method="get" action="#">
                            <input type="text" name="query" placeholder="Найти" />
                        </form>
                    </li>
                    <li class="menu">
                        <a class="fa-bars" href="#menu">Menu</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- -->

        <!-- Menu -->
        <section id="menu">
            <!-- Search -->
            <section>
                <form class="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search" />
                </form>
            </section>

            <!-- Links -->
            <section>
                <ul class="links">
                    <li>
                        <a href="#">
                            <h3>Lorem ipsum</h3>
                            <p>Feugiat tempus veroeros dolor</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Dolor sit amet</h3>
                            <p>Sed vitae justo condimentum</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Feugiat veroeros</h3>
                            <p>Phasellus sed ultricies mi congue</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Etiam sed consequat</h3>
                            <p>Porta lectus amet ultricies</p>
                        </a>
                    </li>
                </ul>
            </section>
        </section>


        <!-- Main -->
        <main id="main">
            <article class="post">
                <header>
                    <div class="title">
                        <h1>Magna sed adipiscing</h1>
                        <div class="image featured">
                            <img src="images/pic02.jpg" alt="">
                        </div>
                    </div>
                </header>


                <section>

                    <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer
                        non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem
                        accumsan varius montes viverra nibh in
                        adipiscing blandit tempus accumsan.</p>
                    <hr />
                    <h2>Heading Level 2</h2>
                    <h3>Heading Level 3</h3>
                    <h4>Heading Level 4</h4>
                    <hr />
                    <h4>Blockquote</h4>
                    <blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus
                        euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis
                        iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum
                        ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.
                    </blockquote>
                    <h4>Preformatted</h4>

                </section>

                <section>

                    <p><span class="image left"><img src="images/pic07.jpg" alt="" /></span>Fringilla nisl. Donec
                        accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante
                        ipsum primis in faucibus vestibulum. Blandit adipiscing
                        eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent
                        tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus
                        vestibulum. Blandit adipiscing eu felis iaculis
                        volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec accumsan
                        interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis
                        in faucibus vestibulum. Blandit adipiscing
                        eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent
                        tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus
                        vestibulum. Blandit adipiscing eu felis iaculis
                        volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Blandit
                        adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
                        praesent tincidunt felis sagittis eget. tempus
                        euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis
                        iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.</p>
                    <p><span class="image right"><img src="images/pic04.jpg" alt="" /></span>Fringilla nisl. Donec
                        accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante
                        ipsum primis in faucibus vestibulum. Blandit adipiscing
                        eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent
                        tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus
                        vestibulum. Blandit adipiscing eu felis iaculis
                        volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec accumsan
                        interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis
                        in faucibus vestibulum. Blandit adipiscing
                        eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent
                        tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus
                        vestibulum. Blandit adipiscing eu felis iaculis
                        volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Blandit
                        adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
                        praesent tincidunt felis sagittis eget. tempus
                        euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis
                        iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.</p>
                </section>
                <footer>

                    <ul class="stats">
                        <li><a href="/tags/afrika" class="icon solid fa-tag">Африка</a></li>
                        <li><a href="/tags/afrika" class="icon solid fa-tag">Африка</a></li>

                        <li><a href="#" class="icon solid fa-heart">28</a></li>
                        <li><a href="#" class="icon solid fa-comment">128</a></li>
                    </ul>
                </footer>
            </article>


        </main>

        <aside id="sidebar">

            <!-- Intro -->
            <section id="intro">
                <a href="/" class="logo"><img src="images/logo.jpg" alt="" /></a>
                <header>
                    <div class="site-name">О всяком</div>
                    <p>Посты про интересное</p>
                </header>
            </section>



            <!-- Posts List -->
            <section>
                <h2>Популярное</h2>
                <ul class="posts">
                    <li>
                        <article>
                            <header>
                                <h3><a href="single.html">Lorem ipsum fermentum ut nisl vitae</a></h3>
                                <time class="published" datetime="2015-10-20">October 20, 2015</time>
                            </header>
                            <a href="single.html" class="image"><img src="images/pic08.jpg" alt="" /></a>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <h3><a href="single.html">Convallis maximus nisl mattis nunc id lorem</a></h3>
                                <time class="published" datetime="2015-10-15">October 15, 2015</time>
                            </header>
                            <a href="single.html" class="image"><img src="images/pic09.jpg" alt="" /></a>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <h3><a href="single.html">Euismod amet placerat vivamus porttitor</a></h3>
                                <time class="published" datetime="2015-10-10">October 10, 2015</time>
                            </header>
                            <a href="single.html" class="image"><img src="images/pic10.jpg" alt="" /></a>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <h3><a href="single.html">Magna enim accumsan tortor cursus ultricies</a></h3>
                                <time class="published" datetime="2015-10-08">October 8, 2015</time>
                            </header>
                            <a href="single.html" class="image"><img src="images/pic11.jpg" alt="" /></a>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <h3><a href="single.html">Congue ullam corper lorem ipsum dolor</a></h3>
                                <time class="published" datetime="2015-10-06">October 7, 2015</time>
                            </header>
                            <a href="single.html" class="image"><img src="images/pic12.jpg" alt="" /></a>
                        </article>
                    </li>
                </ul>
            </section>

            <!-- About -->
            <section class="blurb">
                <h2>От автора</h2>
                <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod
                    amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.
                </p>
                <ul class="actions">
                    <li><a href="#" class="button">Learn More</a></li>
                </ul>
            </section>

            <footer id="footer">
                <ul class="icons">
                    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
                    <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a></p>
            </footer>

        </aside>




    </div>

    <script src="js/all.min.js"></script>


</body>

</html>